<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="home_title">My Comments (<%= current_user.comments.count %>)</h4>
	</div>
</div>
<% if current_user.comments.any? %>
	<table class="table table-striped">
		<thead>
			<th>Forum Title</th>
			<th>Comment</th>
			<th>Created At</th>
		</thead>
		<tbody>
			<% current_user.comments.each do |comment| %>
				<tr>
					<td><%= link_to comment.article.title, article_path(comment), class: "forum_index_title" %></td>
					<td><%= truncate(comment.body, length: 80) %></td>
					<td><%= comment.created_at.strftime('%b %d %Y') %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>You have not written any comments yet.</p>
<% end %>