<div class="row home_title_row">
	<div class="col-md-4 home_row">
		<h4 class="home_title">My Answers (<%= current_user.answers.count %>)</h4>
	</div>
</div>
<% if current_user.answers.any? %>
	<table class="table table-striped">
		<thead>
			<th>Forum Title</th>
			<th>Comment</th>
			<th>Created At</th>
		</thead>
		<tbody>
			<% current_user.answers.each do |answer| %>
				<tr>
					<td><%= link_to answer.forum.title, forum_path(answer), class: "forum_index_title" %></td>
					<td><%= truncate(answer.body, length: 80) %></td>
					<td><%= answer.created_at.strftime('%b %d %Y') %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% else %>
	<p>You have not responded in any forum yet.</p>
<% end %>