<div class="row">
	<h1>Contact Admin</h1>
	<p>You can contact our administrators at the following email addresses</p>

	<ul>
		<li><p>Daniel Donnelly, NEI Education Coordinator - education@ncbfaa.org</p></li>
		<li><p>Michelle Maslow, Position - Email</p></li>
		<li><p>Representative Name, Position - Email</p></li>
		<li><p>Representative Name, Position - Email</p></li>
	</ul>
</div>