<div class="container">
	<div class="text-center">
		<h1>NEI Wiki</h1>
		<h3>TERMS OF USE</h3>
		<h4>PLEASE READ THESE TERMS OF USE (THESE “TERMS”) CAREFULLY BEFORE USING THE NEI WIKI WEBSITE (THE “SITE”) OPERATED BY THE NATIONAL CUSTOM BROKERS AND FREIGHT FORWARDERS ASSOCIATION OF AMERICA, INC. (“NCBFAA”). BY CLICKING ON “___________” BELOW, YOU AGREE TO ABIDE BY THESE TERMS OF USE.</h4>
	</div>

	<p><strong>1. Acceptance of Terms:</strong>  NCBFAA provides the Site to you subject to the following terms (the “Terms”). Said Terms may be updated by NCBFAA from time to time without notice to you and such changes shall be binding on you. You can review the most current version of the Terms at www._____________. In addition, when using the Site, you shall be subject to any posted or un-posted guidelines or rules applicable to such Site which may develop from time to time. All such guidelines are hereby incorporated by reference into the Terms.  Any such use of the Site will be considered acceptance by you of the then-current Terms.  Any new or different terms supplied by you are specifically rejected by NCBFAA unless agreed to in writing by NCBFAA.</p>

	<p><strong>2. Participation.</strong>   NEI and Logistics.EI members (the “Members”) are welcome to contribute and/or edit material on the Site.  Because all information on the Site is available to all Members, NCBFAA requires that all content you contribute is available under a free license or in the public domain.  You are legally responsible for all of your contributions, edits, and re-use of Site content under the laws of the United States of America.  Therefore, please use caution when posting content on the Site.  You understand that, unless agreed to in writing by NCBFAA, you have no expectation of compensation for any activity, contribution, or idea that you provide to NCBFAA for the Site.</p>

	<p><strong>3. Description of Site:</strong> The Site is an internet-based service owned and operated by NCBFAA that hosts content regarding the transportation and logistics industries free of charge.  Members collect and develop content for the Site. You understand and agree that the aforementioned Site is provided "AS-IS" and that NCBFAA assumes no responsibility for the content contained on the Site.</p>

	<p><strong>4. Use of Content.</strong>  All content on the Site is for general informational purposes only, so if you need expert advice for a particular question, you should seek the help of a licensed or qualified professional.</p>

	<p><strong>5. License.</strong> All content on the Site will be treated as non-confidential and non-proprietary. By adding or editing content, you hereby grant NCBFAA the unrestricted, unconditional, unlimited, worldwide, irrevocable, perpetual, royalty-free right and license to host, use, copy, distribute, reproduce, disclose, display, publish, edit, reformat, archive, store, or cache such content, in any and all formats; on or through any and all media, software, formula, network or medium now known or hereafter known; and with any technology or devices now known or hereafter developed. You agree that you will not unilaterally revoke or seek invalidation of such license.</p>

	<p><strong>6. Other Specific Rules for Acceptable Site Use:</strong> You represent, warrant and agree that you will not use (or plan, encourage or help others to use) the Site for any purpose or in any manner that is prohibited by these Terms or by applicable law. It is your responsibility to ensure that your use of the Site complies with these Terms.</p>

	<p><strong>7. Rules for Posting, Conduct and Security:</strong> You agree to comply with NCBFAA's rules for posting and conduct on the Site. NCBFAA is the sole interpreter of these rules. Users who violate these rules may have their access and use of the Site suspended or terminated, at NCBFAA's discretion. NCBFAA reserves the right to change these rules in accordance with the amendment policy in the Terms. Said rules on posting and conduct are as follows:</p>

	<p><strong>7.1. General:</strong> NCBFAA contact information is listed on the Site. NCBFAA makes no claims that the content of the Site is appropriate or may be downloaded outside of the United States. Access to the content may not be legal by certain persons or in certain countries, and such persons have no right to access or use the Site. If you access the Site from outside of the United States, you do so at your own risk and are responsible for compliance with the laws of your jurisdiction. If any provision of these Terms is found to be invalid by any court having competent jurisdiction, as set by these Terms, the invalidity of all or part of a provision shall not affect the validity of the remaining parts and provisions of these Terms, which shall remain in full force and effect. All provisions of these Terms shall survive termination except those granting access or use to the Site, and you shall cease all your use and access thereof immediately. No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term.</p>

	<p><strong>7.2. Content Rules:</strong> 
	Content you contribute to the Site may NOT contain:
		<ul>
			<li>links to any web site(s);</li>
			<li>copyrighted material (unless you own said copyright or have the owner's permission to license the copyrighted material to NCBFAA pursuant to the terms in Section 5, above); </li>
			<li>material that infringes on or misappropriates any other intellectual property rights, or violates the privacy or publicity rights of others;</li>
			<li> anything that is sexually explicit, obscene, libelous, defamatory, threatening, harassing, abusive, or hateful; </li>
			<li> anything that is embarrassing or offensive to another person or entity; </li>
			<li> any false, inaccurate or misleading information; </li>
			<li> chain mail, advertising, junk mail or spam; </li>
			<li> any attempt to impersonate another user or individual, misrepresenting your affiliation with any individual or entity, or using the username of another user with the intent to deceive; </li>
			<li> fraudulent material; or </li>
			<li> any viruses, malware, worms, Trojan horses, malicious code, or other device that could harm NCBFAA’s technical infrastructure. </li>
		</ul>
	Content found to violate the above rules may be removed at NCBFAA’s discretion.
	</p>

	<p><strong>8.  Password Security.</strong>  You are responsible for safeguarding your own password and should never disclose it to any third party.</p>

	<p><strong>9.  Attribution.</strong>  HOW WILL NEI DEAL WITH ATTRIBUTION OF CONTENT PROVIDERS?</p>

	<p><strong>10.  Importing Text.</strong>  You may import text that you have found elsewhere or that you have co-authored with others, but in such case you represent and warrant that you have the authority to grant a license of that material as set forth in Section 5 above.  You may download content that is in the public domain.   However, it is your sole responsibility to confirm such content is in the public domain under the laws of the United States. When you contribute content that is in the public domain, you represent and warrant that the material is actually in the public domain, and you agree to label it appropriately.</p>

	<p><strong>11.  Disclaimer of Endorsements:</strong> Nothing on the Site shall be considered an endorsement, representation or warranty with respect to any user or third party.</p>

	<p> <strong>12.  DMCA Compliance:</strong> NCBFAA shall respond to notices of alleged infringement that comply with the Digital Millennium Copyright Act (“DMCA”).  Pursuant to the DMCA, NCBFAA will terminate, in appropriate circumstances, users of the Site who are repeat offenders.</p>

	<p> <strong>13. Disclaimer Errors and Accuracy of Materials Posted to the Site:</strong> NCBFAA makes no representations or guarantees regarding the truthfulness, accuracy, completeness, timeliness or reliability of any materials posted by users, or of any other form of communication engaged in by users. Materials may contain inaccuracies or typographical errors. You agree that any reliance on materials posted on the Site will be at your own risk. Further, NCBFAA makes no representations or guarantees regarding the content of the Site, including, but not limited to, broken links, inaccuracies or typographical errors.</p>

	<p><strong>14. WARRANTY DISCLAIMERS:</strong> THE SITE IS PROVIDED ON AN "AS-IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED. NCBFAA, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT OF THIRD PARTIES' RIGHTS, AND FITNESS FOR PARTICULAR PURPOSE. NCBFAA MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE SITE OR ITS CONTENT. WITHOUT LIMITATION TO THE FOREGOING NCBFAA DOES NOT WARRANT THAT THE SITE WILL OPERATE ERROR-FREE OR THAT THE SITE AND ITS SERVERS ARE FREE OF COMPUTER VIRUSES OR OTHER HARMFUL MECHANISMS. IF YOUR USE OF THE SITE RESULTS DIRECTLY OR INDIRECTLY IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, NCBFAA IS NOT RESPONSIBLE FOR THOSE COSTS ASSOCIATED WITH SUCH REPLACEMENTS. IF YOU ARE DISSATISFIED WITH THE SITE OR ANY CONTENT OR FUNCTION THEREOF, YOUR SOLE REMEDY IS TO DISCONTINUE USING THE SITE.</p>

	<p><strong>15. ALLOCATIONS OF LIABILITY, EQUITABLE RELIEF AND DAMAGE LIMITATIONS:</strong> YOU ASSUME ALL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE, AND THE MATERIALS YOU POST OR ACCESS AND FOR YOUR CONDUCT ON AND OFF THE SITE. IN NO EVENT SHALL NCBFAA (OR ANY OF ITS OFFICERS, DIRECTORS, MEMBERS, EMPLOYEES, AFFILIATES, AGENTS OR ADVERTISERS), BE LIABLE FOR ANY DAMAGES, DIRECT OR NON-DIRECT, WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA, LOST EMPLOYMENT OPPORTUNITY, OR BUSINESS INTERRUPTION) RESULTING FROM OR ARISING UNDER OR IN CONNECTION WITH THE USE OR ACCESS TO, OR THE INABILITY TO USE OR ACCESS, THE SITE AND/OR ANY MATERIAL POSTED ON THE SITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT NCBFAA IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. GIVEN THAT SOME STATES OR JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OR LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE LIMITATIONS SET FORTH IN THE PRECEDING PARAGRAPH MAY NOT APPLY TO YOU. </p>

	<p><strong>16. Termination and Waiver:</strong> All provisions of these Terms shall survive termination except those granting access to or use of the Site, and you shall cease all your use and access thereof immediately. You may not assign or transfer your obligations under these Terms. No waiver of any term of these Terms shall be deemed a further or continuing waiver of such term or any other term.</p>

	<p><strong>17. Amendments to this Agreement and Changes to the Site:</strong> NCBFAA may revise these Terms at any time by updating this page. Changes will be binding on you on the date they are posted on the Site (or as otherwise stated in the any notice of such changes). Any use of the Site will be considered acceptance by you of the then-current Terms. If at any time you find the Terms unacceptable, you may no longer use the Site. Any new or different terms supplied by you are specifically rejected by NCBFAA unless NCBFAA agrees to them in a signed writing specifically including those new or different terms. NCBFAA may make changes to the Site at any time.</p>

	<p><strong>18. Indemnity of NCBFAA:</strong> You agree to defend, indemnify, and hold harmless NCBFAA (and its officers, directors, members, employees and agents) from and against any claims, actions or demands (including, without limitation, costs, damages and reasonable legal and accounting fees) alleging or resulting from or in connection with your use of the Site, any material posted by you, or your breach of these Terms.</p>

	<p><strong>19. Choice of Law/Choice of Venue:</strong> These Terms, and the relationship between you and NCBFAA, are governed exclusively by the internal substantive laws of the District of Columbia, without respect to its conflict of laws principles. Jurisdiction for any claims arising under these Terms shall lie exclusively with the courts of the District of Columbia.</p>

	<p><strong>20. Notices and Question:</strong> Questions concerning the use of the Site should be directed to __________@ncbfaa.org. Notices to NCBFAA shall be sent to the address listed on the Site, and, for you, to the address submitted by you or such other address as NCBFAA reasonably determines is an appropriate address for you.</p>


	<p>00346686.1</p>

	<%= link_to "Back", :back %>
</div>