// Place all the styles related to the admin_dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-div {
	display: none;
}

.admin-navbar {
	text-align: center;
	li{
		display: inline-block;
		margin-right: 1rem;
		p{	
			font-size: 1.75rem;
			border-bottom: 1px solid black;
			&:hover {
				color: #FFBA6F;
				cursor: pointer;
			}
		}
	}
}