/*
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.page-header {
	padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}

.category_header {
	padding: 5px;
	border-bottom: 1px solid black;
}

.navbar-brand {
    font-style: none;
}

.sidebar {
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    font-weight: 500;
}

.main {
	padding-right: 40px;
    padding-left: 40px;
}

.loginimg {
    max-height: 230px;
    max-width: 230px;
}

.btn-primary.home-button{
    margin-bottom: 15px;
    margin-right: 60px;
    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-primary {
    a {
        color: #ffffff;
        text-decoration: none;
    }
}

@import 'articles';
@import 'versions';