/*
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "gritter";

body {
  font-family: 'Open Sans', sans-serif;
}

.main-body {
  margin-top: 50px;
}

.page-header {
	padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}

.category_header {
  margin: 0 0 2.5rem 0;
  border-bottom: 1px solid black;
  img {
      width: 18px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  a {
    font-size: 20px;
  }
}

.navbar-brand {
    font-style: none;
}

.navbar-header {
      a {
        color: #ffffff !important; 
    }
}

.navbar-right {
    a {
        color: #ffffff !important;
        &:hover {
          color: #FFBA6F !important;
        }
    }
}

.navbar-inverse {
    background-color: #186582;
    border: 1px solid #0C4D66;
}

h3 {
    a {
        color: #0071bc;
        &:hover {
            color: lighten(#0071bc,10%);
        }
    }
}

.margin-bottom {
    margin-bottom: 20px;
}

.sidebar {
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333333;
    border-right: 1px solid #eee;
    font-weight: 500;
    .nav-sidebar{
        li {
            a {
                color: #D8D8D8;
                &:hover {
                    color: lighten(#0071bc,10%);
                    background-color: #333333;
                }
            }
        }    
    }
}

.main {
	padding-right: 40px;
    padding-left: 40px;
}

.loginimg {
    max-height: 230px;
    max-width: 230px;
}

.btn-primary.home-button{
    margin-bottom: 15px;
    margin-right: 60px;
    margin-left: 10px;
    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-success {
  background-color: #53BB7A !important;
  &:hover {
        background-color: lighten(#53BB7A,10%) !important;
    }
  a {
    color: #ffffff;
  }
}

.btn-primary {
    background-color: #31758F;
    border: 1px solid #0071bc;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    &:hover {
        background-color: lighten(#31758F,10%);
    }
}

.btn-yellow {
  background-color: #186582;
  border-color: 1px solid #0C4D66;
  color: #ffffff;
  margin: 1rem 0 3rem 0;
}

.sidebar_icon {
  width: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.sidebar_item {
  margin-bottom: 15px;
  a {
    margin-top: 15px !important;
    font-size: 16px;
  }
}

.profile_thumbnail {
  width:100%;
}