/*
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.page-header {
	padding-bottom: 9px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #eee;
}

.category_header {
	padding: 5px;
	border-bottom: 1px solid black;
}

.navbar-brand {
    font-style: none;
}

.navbar-header {
      a {
        color: #ffffff !important; 
    }
}

.navbar-right {
    a {
        color: #ffffff !important;
    }
}

.navbar-inverse {
    background-color: #0071bc;
    border: 1px solid #0071bc;
}

h3 {
    a {
        color: #0071bc;
        &:hover {
            color: lighten(#0071bc,10%);
        }
    }
}

.sidebar {
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f1f1f1;
    border-right: 1px solid #eee;
    font-weight: 500;
    .nav-sidebar{
        li {
            a {
                color: #0071bc;
                &:hover {
                    color: lighten(#0071bc,10%);
                }
            }
        }    
    }
}

.main {
	padding-right: 40px;
    padding-left: 40px;
}

.loginimg {
    max-height: 230px;
    max-width: 230px;
}

.btn-primary.home-button{
    margin-bottom: 15px;
    margin-right: 60px;
    a {
        color: #ffffff;
        text-decoration: none;
    }
}

.btn-primary {
    background-color: #0071bc;
    border: 1px solid #0071bc;
    border-radius: 0;
    a {
        color: #ffffff;
        text-decoration: none;
    }
    &:hover {
        background-color: lighten(#0071bc,10%);
    }
}

@import 'articles';
@import 'versions';