// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category_icon {
	max-width: 12px;
	margin-right: 5px;
}

.category_button {
	margin-right: 10px;
}