// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
	width: 80%;
	margin-bottom: 1.5rem;
	border-bottom: 1px solid #ccc;
	h4 {
		margin: 26px 0 0 0;
		font-weight: 600;
	}
	.comment_time {
		color: #ccc;
		margin: 5px 0;
	}
}