// Place all the styles related to the forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum_button {
	margin: 0 3rem 2rem 0 !important;
}

.forum_index_block {
	margin: 2.5rem 0 1rem 0;
	h3 {
		margin: 0;
	}
}

/** Show **/

.forum-show-title-block {
	border-bottom: 1px solid #000;
	margin-top: 10px;
	.article-title {
		border-bottom: 5px solid #FFBA6F;
	    width: 50%;
	    margin: 0;
	    padding-bottom: 2px;
	}
}

.forum-block {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	padding: 20px 0;
	.profile-picture-block {
		float: left;
		width: 3%;
		margin-left: 16px;
	}
	.profile-name-block{
		float: left;
		width: 80%;
		margin: .4rem 0 0 10px;
		.forum-show-created-by {
			font-size: 16px;
		}
	}
	.article-show-article-delete-edit-bar {
		margin: 1rem 0 1.5rem 0;
	}
}
