.menu-open {
	left: 0px;
}

.rotated {
	transition-property: transform;
	-webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
}

.mobile-squares {
	display: none;
	margin-top: 1rem;
	max-height: 30px;
	max-width: 30px;
	img{
		max-height: 100%;
		max-width: 100%;
	}
}