.profile_block {
	margin-bottom: 2rem;
}

.profile_wrapper {
	margin: 3rem 1.5rem 0 1.5rem;
	img {
		width: 63px;
	}
	h1 {
		margin-bottom: 0;
	}
}

.profile-picture-block {
	float: left;
	width: 2.5%;
	margin-left: 16px;
}

.profile-name-block{
	float: left;
	width: 80%;
	margin-left: 10px;
	.comment_name {
		font-size: 18px;
	}
}