.user-index {
	margin-bottom: 2.25rem;
}

.user-navbar {
	text-align: left;
	margin: 1rem 0;
	padding: 0;
	li{
		display: inline-block;
		margin-right: 1rem;
		p{	
			font-size: 1.75rem;
			border-bottom: 1px solid black;
			&:hover {
				color: #FFBA6F;
				cursor: pointer;
			}
		}
	}
}

.user_profile_thumbnail {
	&:hover {
		opacity: .8;
	}
}

.user_title{
	border-bottom: 5px solid #FFBA6F;
	margin: 0;
	padding: 0 0 .5rem 0;
	width: 100%;
	font-size: 30px;
}