%div.home_title_row
	%div.col-md-12.home_row
		%h4.home_title Categories

%br

%div.row
	- @categories.each do |category|
		%div.col-md-4
			%div.row
				%div.col-md-1
					=image_tag"category.png", class: "article_home_image"
				%div.col-md-11
					%h3= link_to category.name, articles_path(category: category.name)
					%p.article_home_description= truncate(category.description, length: 150)
					%p
						=category.articles.count
						Articles